<tbody id='item-<%= item.id %>'>
  <tr>
    <td><%= item.name %></td>
    <td><%= link_to "", user_item_path(@user.id, item.id), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></td>
  </tr>
</tbody>
